<%= semantic_form_for @rnaseq, :html => { :class => 'form-horizontal' } do |f| %>
  
  
    <div class="control-group">
    <%= f.label :rnaseq_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rnaseq_name, :class => 'text_field'  %>
    </div>
  </div>
    
    
    <div class="control-group">     
    <div class="controls">
        <!--method ds helper -->
    <%= f.input :data_assoc, :as => :radio, :collection => filtre_elt_associe(@project_associe_id,"data") %>
       </div>
  </div>
  
  
  <div class="control-group">
    <%= f.label :rnaseq_tools, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rnaseq_tools, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rnaseq_params, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rnaseq_params, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rnaseq_output, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :rnaseq_output, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rnaseq_ref, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rnaseq_ref, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rnaseq_tablecount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rnaseq_tablecount, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rnaseqs_path, :class => 'btn' %>
  </div>
<% end %>
