<%= semantic_form_for @seizespyro, :html => { :class => 'form-horizontal' } do |f| %>

   
   <div class="control-group">
    <%= f.label :seize_name, :class => 'control-label' %>
    <div class="controls">
      <%= @seizespyro.seize_name  %>
    </div>
  </div>
   
   <div class="control-group">     
    <div class="controls">
        <!--method ds helper -->
    <%= f.input :data_assoc, :as => :radio, :collection => Datum.all.collect {|el| el.data_name}
 %>
       </div>
  </div>
  
  
  <div class="control-group">
    <%= f.label :tools, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :seize_tools, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :params, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :seize_params, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :output, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :seize_output, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'create 16S_pyro', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
               elements_path, :class => 'btn' %>
  </div>
<% end %>
