<h1>Listing elements</h1>




<table>
  <tr>
  
    <th>name</th>  
    <th>associated project</th>
    <th>users involved</th>
    <th>date</th>
  </tr>
  
  

<% @elements.each do |element| %>
  <tr>    
    <td><%= element.elementname %></td>  
    <td><%= element.projects.collect { |a| a.projectname }.join(",")%></td>
    <td><%= element.users.collect { |a| a.name }.join(",")%></td>   
    <td><%= element.created_at %></td>
    <td><%= link_to 'Show', element %></td>
    <td><%= link_to 'Edit', edit_element_path(element) %></td>
    <td><%= link_to 'Destroy', element, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>



<br />

<%= link_to 'New Element', new_element_path %> 
