<%- model_class = Element.new.class -%>
<div class="page-header">
  <h1 ><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<%= form_tag elements_path, :method => 'get', :id => "elements_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Name Search", :element_name => nil %>
  </p>
 
<% end %>







<table class="table table-striped">
  <thead>
    <tr>
      <!--method ds helper + controller -->
      <th><%= sortable "id" %></th>
      <th><%= sortable "element_name" %></th>
      <th><%= sortable "element_type" %></th>
  
      <th><%= sortable "experimentator" %></th>

      <th><%= sortable "project" %></th>
      <th><%= sortable "exp_date" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= link_to element.id, element_path(element) %></td>
        <td><%= element.element_name %></td>
        <td><%= element.element_type %></td>
        
        <td><%= element.users.collect { |a| a.name }.join(",") %></td>
       
        <td><%= element.projects.collect { |a| a.projectname }.join(",") %></td>
        <td><%= element.element_date %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      element, :class => 'btn btn-mini' %>
                      
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_element_path(element), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      element_path(element),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_element_path,
            :class => 'btn btn-primary' %>
