<p id="notice"><%= notice %></p>



<p>
  <b>Elementnote:</b>
  <%= @element.elementnote %>
  <%= @element.users %>
  
</p>






<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
