<p id="notice"><%= notice %></p>



<p>
  <b>elementname:</b>
  <%= @element.experiments.collect { |a| a.exptype }.join(",") %>
</p>

<p>
  <b>personne:</b>
  <%= @element.users.collect { |a| a.name }.join(",") %>
</p>








<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
