<%= semantic_form_for @extraction, :html => { :class => 'form-horizontal' } do |f| %>
  
    
    <div class="controls">
      <!--method ds helper -->
    <%= f.input :culture_id,  :as => :radio, :collection => filtre_elt_associe(@project_associe_id,"culture")%>
    </div>
  </div>
  <div class="control-group">
    
    <div class="controls">
      <%= f.input :extraction_note %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                extractions_path, :class => 'btn' %>
  </div>
<% end %>


