<%- model_class = @extraction.class -%>


    <div class="alert alert-success"  id="notice">
    <button class="close" data-dismiss="alert">×</button>
    <strong>Well done!</strong> <%= notice %>
    </div>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= Element.find(@extraction.element_id).element_name %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= Element.find(@culture.element_id).element_date %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:projet_associé) %>:</strong></dt>
  <dd><%= Element.find(@extraction.element_id).projects.collect { |a| a.projectname  }.join(",") %></dd>
  
   <dt><strong><%= model_class.human_attribute_name(:experimentator) %>:</strong></dt>
  <dd><%= Element.find(@extraction.element_id).users.collect { |a| a.name  }.join(",") %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:extraction_name) %>:</strong></dt>
  <dd><%= @extraction.extraction_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:element_id) %>:</strong></dt>
  <dd><%= @extraction.element_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:culture_id) %>:</strong></dt>
  <dd><%= @extraction.culture_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:extraction_note) %>:</strong></dt>
  <dd><%= @extraction.extraction_note %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              elements_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_extraction_path(@extraction), :class => 'btn' %>

</div>
