<p id="notice"><%= notice %></p>

<p>
  <b>Extraction_name:</b>
  <%= @extraction.extraction_name %>
</p>

<p>
  <b>Culture associée:</b>
  <%= @extraction.element_id %>
</p>

<p>
  <b>Extraction_note:</b>
  <%= @extraction.extraction_note %>
</p>


<%= link_to 'Edit', edit_extraction_path(@extraction) %> |
<%= link_to 'Back', extractions_path %>
