<%= semantic_form_for @sequencing , :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
  
    <div class="controls">
       <%= f.input :sequencing_name %>
    </div>
  </div>
  <div class="control-group">
    
    <div class="controls">
     <!--method ds helper -->
    <%= f.input :empcr_id, :as => :radio, :collection => filtre_elt_associe(@project_associe_id,"EM_PCR") %>
       
    </div>
  </div>
  <div class="control-group">
  
    <div class="controls">
    <%= f.input :paired_end, :as => :radio, :collection => ["yes","no"] %>
    </div>
  </div>
  <div class="control-group">
    
    <div class="controls">
         <%= f.input :distance_cassure %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sequencings_path, :class => 'btn' %>
  </div>
<% end %>
