<%= semantic_form_for @sequencing , :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label :sequencing_name, :class => 'control-label' %>
    <div class="controls">
      <%= @sequencing.sequencing_name  %>
    </div>
  </div>
  

  
  <div class="control-group">    
    <div class="controls">
     <!--method ds helper -->
    <%= f.input :empcr_assoc, :as => :radio, :collection => EmPcr.all.collect {|el| el.EM_PCR_name}
 %>       
    </div>
  </div>
  
  <div class="control-group">  
    <div class="controls">
    <%= f.input :paired_end, :as => :radio, :collection => ["yes","no"] %>
    </div>
  </div>
  
  <div class="control-group">    
    <div class="controls">
         <%= f.input :distance_cassure %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                elements_path, :class => 'btn' %>
  </div>
<% end %>
