<%- model_class = @sequencing.class -%>




    <div class="alert alert-success"  id="notice">
    <button class="close" data-dismiss="alert">×</button>
    <strong>Well done!</strong> <%= notice %>
    </div>



<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
   <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= Element.find(@sequencing.element_id).elementname %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:projet_associé) %>:</strong></dt>
  <dd><%= Element.find(@sequencing.element_id).projects.collect { |a| a.projectname  }.join(",") %></dd>
  
   <dt><strong><%= model_class.human_attribute_name(:experimentator) %>:</strong></dt>
  <dd><%= Element.find(@sequencing.element_id).users.collect { |a| a.name  }.join(",") %></dd>
  
  
  <dt><strong><%= model_class.human_attribute_name(:sequencing_name) %>:</strong></dt>
  <dd><%= @sequencing.sequencing_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paired_end) %>:</strong></dt>
  <dd><%= @sequencing.paired_end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:distance_cassure) %>:</strong></dt>
  <dd><%= @sequencing.distance_cassure %></dd>
  <dt><strong><%= model_class.human_attribute_name(:element_id) %>:</strong></dt>
  <dd><%= @sequencing.element_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:empcr_id) %>:</strong></dt>
  <dd><%= @sequencing.empcr_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              elements_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sequencing_path(@sequencing), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sequencing_path(@sequencing),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
