

<%- model_class = @culture.class -%>


    <div class="alert alert-success"  id="notice">
    <button class="close" data-dismiss="alert">×</button>
    <strong>Well done!</strong> <%= notice %>
    </div>



<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
   <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= display_fields_on_views(@culture.culture_name) %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= Element.find(@culture.element_id).element_date %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:projet_associé) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@culture.element_id).projects.collect { |a| a.projectname  }.join(",")) %></dd>
  
   <dt><strong><%= model_class.human_attribute_name(:experimentator) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@culture.element_id).users.collect { |a| a.name  }.join(",")) %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:host_strain) %>:</strong></dt>
 <dd><%= display_fields_on_views(@culture.host_strain)%></dd>
 
   <dt><strong><%= model_class.human_attribute_name(:contaminants) %>:</strong></dt>
 <dd><%= display_fields_on_views(@culture.contaminants)%></dd>
 
  <dt><strong><%= model_class.human_attribute_name(:culture_note) %>:</strong></dt>
    <dd><%= display_fields_on_views(@culture.culture_note)%></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              elements_path, :class => 'btn'  %>
  <%= link_to t('.edit_further', :default => t("helpers.links.edit_further")),
              edit_culture_path(@culture), :class => 'btn' %>
 
</div>



