<%= semantic_form_for @library, :html => { :class => 'form-horizontal' } do |f| %>
 
  <div class="control-group">
   
    <div class="controls">
       <!--method ds helper -->
    <%= f.input :extraction_id, :as => :radio, :collection => filtre_elt_associe(@project_associe_id,"extraction") %>
       </div>
  </div>
  <div class="control-group">
    
    <div class="controls">
      <%= f.input :fragmentation %>
    </div>
  </div>
  <div class="control-group">
    
    <div class="controls">
      <%= f.input :strategy %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                libraries_path, :class => 'btn' %>
  </div>
<% end %>
