<%- model_class = @library.class -%>


    <div class="alert alert-success"  id="notice">
    <button class="close" data-dismiss="alert">×</button>
    <strong>Well done!</strong> <%= notice %>
    </div>



<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= Element.find(@library.element_id).elementname %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:projet_associé) %>:</strong></dt>
  <dd><%= Element.find(@library.element_id).projects.collect { |a| a.projectname  }.join(",") %></dd>
  
   <dt><strong><%= model_class.human_attribute_name(:experimentator) %>:</strong></dt>
  <dd><%= Element.find(@library.element_id).users.collect { |a| a.name  }.join(",") %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:library_name) %>:</strong></dt>
  <dd><%= @library.library_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fragmentation) %>:</strong></dt>
  <dd><%= @library.fragmentation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:strategy) %>:</strong></dt>
  <dd><%= @library.strategy %></dd>
  <dt><strong><%= model_class.human_attribute_name(:element_id) %>:</strong></dt>
  <dd><%= @library.element_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:extraction_id) %>:</strong></dt>
  <dd><%= @library.extraction_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              elements_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_library_path(@library), :class => 'btn' %>

</div>
