<%- model_class = @em_pcr.class -%>


   


<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
 <dt><strong><%= model_class.human_attribute_name(:EM_PCR_name) %>:</strong></dt>
  <dd><%= @em_pcr.EM_PCR_name %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@em_pcr.element_id).element_date) %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:projet_associé) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@em_pcr.element_id).projects.collect { |a| a.projectname  }.join(",")) %></dd>
  
   <dt><strong><%= model_class.human_attribute_name(:experimentator) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@em_pcr.element_id).users.collect { |a| a.name  }.join(",")) %></dd>
  
  
  <dt><strong><%= model_class.human_attribute_name(:PCR_round) %>:</strong></dt>
  <dd><%= display_fields_on_views(@em_pcr.PCR_round) %></dd>
 
  <dt><strong><%= model_class.human_attribute_name(:library_id) %>:</strong></dt>
  <dd><%= display_fields_on_views(@em_pcr.library_assoc) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back_to_index', :default => t("helpers.links.back_to_index")),
              elements_path, :class => 'btn'  %>
  <%= link_to t('.edit_further', :default => t("helpers.links.edit_further")),
              edit_em_pcr_path(@em_pcr), :class => 'btn' %>
 
</div>
