<%= semantic_form_for @submission , :html => { :class => 'form-horizontal' } do |f| %>
 
    <div class="control-group">
    <%= f.label :submission_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :submission_name, :class => 'text_field'  %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
        <!--method ds helper -->
    <%= f.input :sequencing_assoc, :as => :radio, :collection => filtre_elt_associe(@project_associe_id,"sequencing") %>
       </div>
  </div>
  
  <div class="control-group">   
    <div class="controls">
    <%= f.input :submission_center %>
    </div>
  </div>
  
  <div class="control-group">   
    <div class="controls">
     <%= f.input :submission_type %>
    </div>
  </div>
  
  <div class="control-group">   
    <div class="controls">
     <%= f.input :accession_number %>
    </div>
  </div>
  
  <div class="control-group">   
    <div class="controls">
     <%= f.input :bioproject_id %>
    </div>
  </div>
  
  <div class="control-group">   
    <div class="controls">
     <%= f.input :submission_note %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                submissions_path, :class => 'btn' %>
  </div>
<% end %>
