<%- model_class = @submission.class -%>




<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:submission_name) %>:</strong></dt>
  <dd><%= display_fields_on_views(@submission.submission_name) %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@submission.element_id).element_date) %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:projet_associé) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@submission.element_id).projects.collect { |a| a.project_name  }.join(",")) %></dd>
  
   <dt><strong><%= model_class.human_attribute_name(:experimentator) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@submission.element_id).users.collect { |a| a.name  }.join(",") )%></dd>
  
  
  <dt><strong><%= model_class.human_attribute_name(:submission_center ) %>:</strong></dt>
  <dd><%=display_fields_on_views( @submission.submission_center) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:submission_type) %>:</strong></dt>
  <dd><%= display_fields_on_views(@submission.submission_type) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:accession_number) %>:</strong></dt>
  <dd><%= display_fields_on_views(@submission.accession_number) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sequencing_associé) %>:</strong></dt>
  <dd><%= display_fields_on_views(@submission.sequencing_assoc) %></dd>
   <dt><strong><%= model_class.human_attribute_name(:bioproject_id) %>:</strong></dt>
  <dd><%= display_fields_on_views(@submission.bioproject_id )%></dd>
    <dt><strong><%= model_class.human_attribute_name(:submission_note) %>:</strong></dt>
  <dd><%= display_fields_on_views(@submission.submission_note) %></dd>
  
</dl>



<div class="form-actions">
  <%= link_to t('.back_to_index', :default => t("helpers.links.back_to_index")),
              elements_path, :class => 'btn'  %>
  <%= link_to t('.edit_further', :default => t("helpers.links.edit_further")),
              edit_submission_path(@submission), :class => 'btn' %>
 
</div>
