<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :projectname %><br />
    <%= f.text_field :projectname %>
  </div>
  <div class="field">
    <%= f.label :projectdescription %><br />
    <%= f.text_area :projectdescription %>
  </div>
  <div class="field">
    <%= f.label :colourcode %><br />
    <%= f.text_field :colourcode %>
  </div>
  <div class="field">
    <%= f.label :projectheader %><br />
    <%= select("project", "projectheader", User.all.collect {|u| [ u.lastname, u.id ] }, {:prompt => 'Select Person'})  %>      
  </div>
  
 <div class="field">
<%= fields_for :projectmember do |u| %> 
      <%= u.label :projectmember %><br />
       <%= select_tag :projectmember, options_for_select(User.all.collect {|u| [u.lastname, u.id]}),
  :multiple => true, :prompt => 'Select Person', :name=>'project[projectmember][]' %>
 <% end %>
   </div>
  
  

   
   <div class="field">
    <%= f.label :projecttypename %><br />
    <%= f.text_field :projecttypename %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
