<%- model_class = Project.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:projectname) %></th>
      <th><%= model_class.human_attribute_name(:projectdescription) %></th>
      <th><%= model_class.human_attribute_name(:projectresp) %></th>
      <th><%= model_class.human_attribute_name(:projetuser) %></th>
      <th><%= model_class.human_attribute_name(:progression) %></th>
      
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, project_path(project) %></td>
        <td><%= project.projectname %></td>
        <td><%= project.projectdescription %></td>
        <td><%= project.resp %></td>
         <% @a= project.users.collect { |a| a.name unless a.name == project.resp }.compact!%>
         <td><%= @a.join(",") unless @a.nil? %></td>
         <td>    <div class="progress progress-striped">
                  <div class="bar" style="width: 20%;"></div>
                </div></td>
        
        
         <td>
           <%= link_to t('.show', :default => t("helpers.links.show")),
                      project, :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
