<p id="notice"><%= notice %></p>

<p>
  <b>Project name:</b>
  <%= @project.projectname %>
</p>

<p>
  <b>Project description:</b>
  <%= @project.projectdescription %>
</p>

<p>
  <b>project elements:</b>
  </br>  </br>
  <% for i in 0..@project.elt_asso_name.length %>
  <%= @project.elt_asso_name[i]%>
  <%= link_to "afficher detail", :controller => 'cultures', :action => 'show', :id => @project.detail_element[i] %>
  </br>  </br>
  
  <% end %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
