<%- model_class = @project.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <p>
  <b>Project name:</b>
  <%= @project.projectname %>
</p>

<p>
  <b>Project description:</b>
  <%= @project.projectdescription %>
</p>

<p>
  <b>project elements:</b>
  </br>  </br>
  <% if @project.elt_asso_name.any? %>
  <% for i in 0..@project.elt_asso_name.length %>
  <%= @project.elt_asso_name[i].join("'") unless @project.elt_asso_name[i].nil? %>
  
  
 <%= link_to "afficher detail", :controller => @project.choix_controller[i] , :action => 'show', :id => @project.detail_element[i] unless @project.detail_element[i].nil?  %>
 
  </br>  </br>
  <% end %>
  <% end %>
</p>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
