<%- model_class = @project.class -%>


 

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="hero-unit" class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @project.projectname %></dd></br>  
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.projectdescription %></dd></br></br>  
  </dl>

  <dt><strong><%= model_class.human_attribute_name(:elements) %>:</strong></dt></br>
  <table class="table table-striped">
  <thead >
    <tr >
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
           
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% for i in 0..@project.elt_associe(1).length %>
      <tr>
        <td> <%= @project.elt_associe(1)[i].join("'") unless @project.elt_associe(1)[i].nil? %></td>
       <td> <%= @project.elt_associe(2)[i].join("'")  unless @project.elt_associe(2)[i].nil? %></td>
    <td><%= @project.elt_associe(3)[i].join("'")  unless @project.elt_associe(3)[i].nil? %></td>
    
    
        <td>
          
          <%= link_to "afficher detail", :controller => @project.choix_controller[i] , :action => 'show', :id => @project.detail_element[i] unless @project.detail_element[i].nil?  %>
       
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
  
  <%= link_to t('.add_new_element', :default => t("helpers.links.add_new_element")),
            new_element_path,
            :class => 'btn btn-warning' %>
  
  


<div class="form-actions">
  <%= link_to t('.back_to_index', :default => t("helpers.links.back_to_index")),
              projects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
