<%- model_class = @genome.class -%>




<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:genome_name) %>:</strong></dt>
  <dd><%= @genome.genome_name %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@genome.element_id).element_date) %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:projet_associé) %>:</strong></dt>
  <dd><%=display_fields_on_views( Element.find(@genome.element_id).projects.collect { |a| a.projectname  }.join(",")) %></dd>
  
   <dt><strong><%= model_class.human_attribute_name(:experimentator) %>:</strong></dt>
  <dd><%= display_fields_on_views(Element.find(@genome.element_id).users.collect { |a| a.name  }.join(",")) %></dd>
  
  
  <dt><strong><%= model_class.human_attribute_name(:data_associé) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.data_assoc) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_type) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.genome_type) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_ref) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.genome_ref )%></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_params) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.genome_params )%></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_annotateur) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.genome_annotateur) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_nbcontigs) %>:</strong></dt>
  <dd><%=display_fields_on_views( @genome.genome_nbcontigs )%></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_nbscaffold) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.genome_nbscaffold )%></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_coverage) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.genome_coverage) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_ncinquante) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.genome_ncinquante) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genome_size) %>:</strong></dt>
  <dd><%= display_fields_on_views(@genome.genome_size) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              genomes_path, :class => 'btn'  %>
  <%= link_to t('.edit_further', :default => t("helpers.links.edit_further")),
              edit_genome_path(@genome), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              genome_path(@genome),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
