<!DOCTYPE html>
<html>
<head>
  <title>Limsv1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= javascript_include_tag :defaults, "application" %>
   
  

  

  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      
 


      
      
    <div class="row">
      <div class="span9">
        <!-- to make flashes dry  -->
        <%= render :partial => 'common_partials/flashes' %>
        <%= yield %></div>
      <div class="span3">
       <h3>LimsV1</h3>
       <p>LimsV1 est une application de gestion complète de projet en mode web, développé en Ruby sur la base du framework Ruby on Rails.
</br>Il a été créé par Mathieu DANDONNEAU sous la direction de Ghislain FOURNOUS
      </p>
       <h4>Principales fonctionnalitées</h4>
       <p>gestion de bases de données multi-projets</br>
       
       système d'authentification</br>
système d'accès differentiel aux ressources selon l'utilisateur</br>
</p>
      </div>
    </div>
  </div>
    
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">limsv1</a>
        <div class="nav-collapse">
          
          
          
          <ul class="nav ">
          <li><%= link_to "home", 'home#index' %></li>
          <% if can? :read, Project %>
    <li><%= link_to "projects", projects_path %></li>
          <% end %>
           <% if can? :read, User %>
    <li><%= link_to "users", users_path %></li>
        <% end %>
        <% if can? :read, Element %>
    <li><%= link_to "elements", elements_path %></li>
         
     <form class="navbar-search">
        
   


     
     <% end %>
     
     
     
     
     
     </form>
      </ul>
   
        <div align="right" class="nav-collapse">
  <% if user_signed_in? %>
  </br><small>Hi <%= current_user.name %></small> | sign out?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
     </div>
   
   
   
       
          
          
           
          
        </div>
      </div>
    </div>
  </div>
  
 

</body>
</html>
