<!DOCTYPE html>
<html>
<head>
  <title>Limsv1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= javascript_include_tag "application" %>
   
  

  

  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
    <div class="row">
      <div class="span9">
        <!-- to make flashes dry  -->
        <%= render :partial => 'common_partials/flashes' %>
        <%= yield %></div>
      <div class="span3">
       <h3>LimsV1</h3>
       <p>LimsV1 est une application de gestion complète de projet en mode web, développé en Ruby sur la base du framework Ruby on Rails.
</br>Il a été créé par Mathieu DANDONNEAU sous la direction de Ghislain FOURNOUS
      </p>
       <h4>Principales fonctionnalitées</h4>
       <p>gestion multi-projets</br>
gestion fine des droits utilisateurs définis par des rôles...blablabla</br>
</p>
      </div>
    </div>
  </div>
    
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">limsv1</a>
        <div class="nav-collapse">
          <ul class="nav">
          <li><%= link_to "home", 'home#index' %></li>
    <li><%= link_to "projects", projects_path %></li>
    <li><%= link_to "users", users_path %></li>
    <li><%= link_to "elements", elements_path %></li>
    <li><%= link_to "experiments", experiments_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
 

</body>
</html>
