<!DOCTYPE html>
<html>
<head>
  <title>Limsv1</title>
  <%= stylesheet_link_tag    "application", 'formtastic', 'my_formtastic_changes', :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :cocoon %>  

  

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container" >
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
        </div>
  
  <div id="side">
    <strong>page</strong>    
    <li><%= link_to "home", 'home#index' %></li>
    <li><%= link_to "projects", projects_path %></li>
    <li><%= link_to "users", users_path %></li>
    <li><%= link_to "elements", elements_path %></li>
    <li><%= link_to "experiments", experiments_path %></li>
  </div>
  
<%= yield %>

</body>
</html>
